# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore npm debugging logs
npm-debug.log

# Ignore system files
Thumbs.db